@import "../../../styles/styles";

:host {
  @extend .app-content;
  position: relative;
  overflow: scroll;

  .f{
    width: 100%;
    height: 100%;
  }
  .content{
    position: absolute;
    top:0;
    left: 0;
    overflow: scroll;

    .c{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    pineapple-head{
      height: 40vh;
      width: 40vh;
      max-width: 40vw;
      max-height: 40vw;
    }
  }
}