@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Lobster');

/*

    font-base - 16px

    font-family: 'Lobster Two', cursive;
    font-family: 'Lobster', cursive;

    beige - #ECE4A5
    pink - #ba0381 - #EE7ACF
    green - #5b9367
    turq - #62B6A0
    purp - #6c3291
*/

h1 {
    font-size: 96px;
    font-family: 'Lobster', "Comic Sans MS", sans-serif;
    color: white;
    text-shadow: 3px 3px #6c3291;
}

p {
    font-size: 48px;
    font-family: 'Lobster Two', "Comic Sans MS", sans-serif;
    color: #ba0381;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 64px;
    }

    p {
        font-size: 32px;
    }
}