html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
::-webkit-scrollbar {
    display: none;
}
.fly{
    display: block;
    top:0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    overflow:scroll;
    overflow-x: hidden;
}
.back{
    overflow: hidden;
    background-image: url("a/sunset.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    /*filter: blur(5px);*/
    transform: scale(1.1); /*so there is no white border caused by the blur*/
}
.cont{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.doscroll{
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid;
    transform: translateY(1px);
    cursor: pointer;
}
.card{
    width: 100%;
    height: 50%;
    float: left;
    display: block;
}
@media (orientation: landscape){
    .card{
        width: 50%;
        height: 100%;
    }
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.t{
    transition: all 0.2s 0s ease;
}
.imag:hover{
    transform: scale(1.05);
}
.glitch{
    position: absolute;
    top: -5px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    transform: translate3d(0,0,0);
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}
.glitch:nth-child(n+2) {
    opacity: 0;
}
.glitch:nth-child(n+2) {
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.glitch:nth-child(2) {
    animation-name: glitch-1;
}
.glitch:nth-child(3) {
    animation-name: glitch-2;
}
.glitch:nth-child(4) {
    animation-name: glitch-3;
}
/*########################################*/
/*### Head*/
.head h1{
    width: 100%;
    text-align: center;
}
.head .doscroll{
    border-bottom-color: #FFFFFF;
}
/*### Pers*/
.pers{
    background-color: #FFFFFF;
}
.pers .doscroll{
    border-bottom-color: #A34B4B;
}
.pers .imag{
    position: relative;
    margin: 5%;
    width: 90%;
    height: 90%;
}
.pers .glitch{
    background-image: url("a/me.svg");
}
.pers p{
    max-width: 90%;
}
.pers p:after{
    animation-name: pers;
    animation-iteration-count: infinite;
    animation-duration: 14s;
    content: 'My name is Robin Renker, I am a swiss software dev who happens to have red hair.';
}
/*### Drone*/
.dron{
    background-color: #A34B4B;
    display: flex;
}
.dron .doscroll{
    border-bottom-color: #4B4C4E;
}
.dron .compass{
    width: 100%;
    display: flex;
    flex-grow: 1;
    position: relative;
    background-image: url("a/cface.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}
.dron .compass .pointer{
    position: absolute;
    left: 40%;
    top: 0;
    width: 20%;
    height: 100%;
    background-image: url("a/cpointer.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;

    animation-name: compass;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.dron .frame{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
    border: solid 10px #ECE4A5;
    box-sizing: border-box;
    /*padding: 42px 0;*/
}
.dron .space{
    width: 100%;
    height: 40px;
    position: relative;
}
.dron .space.bottom{
    transform: rotate(180deg);
}
.dron .space .corner{
    height: 50px;
    width: 50px;
    position: absolute;
    top:-10px;
    left:-10px;
    overflow: hidden;
}
.dron .space .corner div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ECE4A5;
    top:-50px;
    left: -50px;
    position: absolute;
}
.dron .space .corner div.small{
    width: 80px;
    height: 80px;
    background-color: #A34B4B;
    left:10px;
    top:10px;
    transform: scale(1.01); /*fix antialiasing fails*/
}
.dron .space .corner:nth-child(2){
    left:auto;
    right: -10px;
    transform: rotate(90deg);
}
.dron .spike{
    border-bottom-color: #A34B4B;
    bottom: 20px;
}
/*### Work*/
.work{
    background-color: #4B4C4E;
}
/*########################################*/
