html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.fly{
    display: block;
    top:0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    overflow:scroll;
    overflow-x: hidden;
}
.back{
    overflow: hidden;
    background-image: url("a/sunset.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    /*filter: blur(5px);*/
    transform: scale(1.1); /*so there is no white border caused by the blur*/
}
.cont{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.doscroll{
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid;
}
.card{
    width: 100%;
    height: 50%;
    float: left;
    display: block;
}
@media (orientation: landscape){
    .card{
        width: 50%;
        height: 100%;
    }
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.t{
    transition: all 0.2s 0s ease;
}
.imag:hover{
    transform: scale(1.05);
}
/*########################################*/
/*### Head*/
.head h1{
    width: 100%;
    text-align: center;
}
.head .doscroll{
    border-bottom: 40px solid #FFFFFF;
}
/*### Pers*/
.pers{
    background-color: #FFFFFF;
}
.pers .doscroll{
    border-bottom: 40px solid #A34B4B;
}
.pers .imag{
    margin: 5%;
    width: 90%;
    height: 90%;
    background-image: url("a/me.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}
.pers p{
    max-width: 90%;
    text-align: center;
}
.pers p:after{
    animation-name: pers;
    animation-iteration-count: infinite;
    animation-duration: 14s;
    content: 'My name is Robin Renker, I am a suisse computer scientist who happens to have red hair.';
}
/*### Drone*/
.dron{
    background-color: #A34B4B;
    display: flex;
}
.dron .doscroll{
    border-bottom: 40px solid #4B4C4E;
}
.dron .compass{
    width: 100%;
    display: flex;
    flex-grow: 1;
    position: relative;
    background-image: url("a/cface.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}
.dron .compass .pointer{
    position: absolute;
    left: 40%;
    top: 0;
    width: 20%;
    height: 100%;
    background-image: url("a/cpointer.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;

    animation-name: compass;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.dron .frame{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
    border: solid 10px #ECE4A5;
    box-sizing: border-box;
    padding: 42px 0;
}
.dron .spike{
    border-bottom: 40px solid #A34B4B;
    bottom: 20px;
}
/*### Work*/
.work{
    background-color: #4B4C4E;
}
/*########################################*/
@keyframes pers {
    50% {content: "I like breathing, talking to trees and all that other ordinary stuff."}

}
@keyframes compass {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(250deg);}
    70% {transform: rotate(60deg);}
    100% {transform: rotate(360deg);}
}