@import "s/fonts.css";
@import "s/animations.css";
@import "s/head.css";

html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
::-webkit-scrollbar {
    display: none;
}
/*Basic stuff #######*/
.fc1{
    color: #68E4DD;
}
.fc2{
    color: #EB357E;
}
.bc1{
    background-color: #68E4DD;
}
.bc2{
    background-color: #EB357E;
}
.front{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
