<div class="head">
    <div class="banner">
        <h1>Robin</h1>
    </div>
</div>
<div class="content">
    <div class="spacer"></div>
    <me-panel class="wi" [image]="'rocket.svg'" [title]="'Rockets!'">
        <p>I like rockets!</p>
    </me-panel>
    <me-panel class="wi" [image]="'me.svg'" [title]="'Me?!'" [rev]="true">
        <p>I am serious!</p>
    </me-panel>
    <me-panel class="wi" [image]="'shake.svg'" [title]="'Candy!'">
        <p>I like candy!</p>
    </me-panel>
    <me-follow class="wi"></me-follow>
</div>