$public_path: "";

$c-black:#000;
$c-white:#fff;
$c-red:#B83E45;
$c-blue:#779cba;

$font-size: 24px;
$dur: .2s;
$break-mobile: 700px;
$max-width: 1200px;
$height:250px;

$pineapple-head-face1: "/assets/images/face1.jpg";
$pineapple-head-face2: "/assets/images/face2.jpg";
$pineapple-head-face3: "/assets/images/face3.jpg";
$pineapple-head-face4: "/assets/images/face4.jpg";
$pineapple-head-face5: "/assets/images/face5.jpg";
