:root {
    --cap-color1: #E7E719;
    --cap-color2: #731164;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: basefont;
    src: url("Pecita.otf");
}
body{
    padding: 0;
    margin:0;
    background-color: #E7E719;
    position: absolute;
    width: 100%;
    height: 100%;
}
.no_select {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
/*################################################################*/
#b_cap{
    float: left;
}
#b_cap_img{
    margin:0px auto;
    max-width: 100%;
    max-height: 100%;
}
#b_text{
    float: left;
}
#b_text_p{
    font-family: basefont,sans-serif;
    color: #731164;
    font-size: 15vmin;
    padding: 0;
    margin: 0;
    text-align: center;
}
