::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: basefont;
    src: url("Pecita.otf");
}
body{
    padding: 0;
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: #E7E719;
}
.no_select {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
/*################################################################*/
.b_child{
    float: left;
    overflow: hidden;
    margin: 2vh 2vw;
}
.contvert{
    width: 46vw;
    height: 96vh;
}
.conthor2{
    width: 96vw;
    height: 26vh;
}
.conthor1{
    width: 96vw;
    height: 66vh;
}
#b_text{
    justify-content: center;
    display: flex;
    align-items: center;
}
#b_text > p{
    font-family: basefont,sans-serif;
    color: #731164;
    font-size: 15vmin;
    padding: 0;
    margin: 0;
}
#b_cap{
    background-image: url('cap.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}