/*### Co*/
.co{
    background-color: #A34B4B;
    display: flex;
}
.co .doscroll{
    border-bottom-color: #4B4C4E;
}
.co .compass{
    width: 100%;
    display: flex;
    flex-grow: 1;
    position: relative;
    background-image: url("../a/cface.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}
.co .compass .pointer{
    position: absolute;
    left: 40%;
    top: 0;
    width: 20%;
    height: 100%;
    background-image: url("../a/cpointer.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;

    animation-name: compass;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.co .frame{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
    border: solid 10px #ECE4A5;
    box-sizing: border-box;
    /*padding: 42px 0;*/
}
.co .space{
    width: 100%;
    height: 40px;
    position: relative;
}
.co .space.bottom{
    transform: rotate(180deg);
}
.co .space .corner{
    height: 50px;
    width: 50px;
    position: absolute;
    top:-10px;
    left:-10px;
    overflow: hidden;
    transform: scale(1.01); /*fix antialiasing fails*/
}
.co .space .corner div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ECE4A5;
    top:-50px;
    left: -50px;
    position: absolute;
}
.co .space .corner div.small{
    width: 80px;
    height: 80px;
    background-color: #A34B4B;
    left:10px;
    top:10px;
}
.co .space .corner:nth-child(2){
    left:auto;
    right: -10px;
    transform: rotate(90deg);
}
.co .spike{
    border-bottom-color: #A34B4B;
    bottom: 20px;
}