.tile.cone{
    position: relative;
}
.cone img {
    width: auto;
    height: auto;
    max-width: 75vmin;
    max-height: 75vmin;
    transition: all 0.1s;
    cursor: pointer;
    z-index: 1;
}

.cone img:active {
    transform: scale(0.9);
}

.cone .beans {
    width: 100%;
    height: 100%;
    position: absolute;
}
.cone .beans .rail {
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    width: 100%;
    height: 100px;
}
.cone .beans .rail svg{
    position: absolute;
    animation-name: bean;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
