@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Lobster');

h1 {
    font-size: 96px;
    line-height: 96px;
    font-family: 'Lobster', "Comic Sans MS", sans-serif;
    text-align: center;
}
p {
    font-size: 48px;
    font-family: 'Lobster Two', "Comic Sans MS", sans-serif;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 32px;
    }
}