@import url('https://fonts.googleapis.com/css?family=Lobster|Amaranth');

h1 {
    font-size: 96px;
    line-height: 96px;
    font-family: 'Lobster', "Comic Sans MS", sans-serif;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}
h2{
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
}
p{
    margin: 0;
    font-size: 48px;
    font-family: 'Amaranth', sans-serif;
}
li {
    font-size: 48px;
    font-family: 'Amaranth', sans-serif;
}

@media screen and (max-width: 400px) {
    p {
        font-size: 32px;
    }
    li {
        font-size: 32px;
    }
}